html{
  font-family: 'Poly', serif;
	text-shadow: #999 1px 1px 1px;
}

h1,#twitter{
  color:#4A1C5C;
  font-family: 'Leckerli One', cursive;
}
#content{
  margin-top:100px;
  width:250px;
  margin:0 auto;
}
